* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    direction: rtl;
    font-family: 'iranyekan', Tahoma;
    font-size: 16px;
}
.login-page {
    background-image: url("img/login-page.jpg");
    background-size: 100%;
}
.login-box {
    background-color: #43B5AD;
    width: 380px;
    margin: 15% auto;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px #414141;
}
.login-form form {
    margin: 10px 45px 10px 45px;
}
.green-notif {
    background: rgba(0,0,0,0.1);
    min-height: 32px;
    line-height: 22px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.form-field, .form-lable {
    float: right;
    width: 100%;
}
.form-lable {
    text-align: right;
    margin: 15px 0 8px 0;
}
.login-box a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 32px;
    display: block;
}
.form-submit input[type="submit"] {
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #2b7b75;
    font-family: inherit;
    font-size: 20px;
    margin: 15px auto;
    cursor: pointer;
    transition: all 0.3s;
}
.form-submit input[type="submit"]:hover {
    background-color: #3e8781;
}
.error {
    background-color: #E25A59;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.form-field input {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 10px 0;
}
.rside {
    width: 15%;
    position: fixed;
    height: 100%;
    background-color: #1C2B36;
    top: 0;
    right: 0;
    overflow: hidden;
}
.lside {
    width: 85%;
    position: fixed;
    height: 100%;
    background-color: #e7e3b5;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rside ul li a {
    height: 32px;
    line-height: 32px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px dashed #10181e;
    transition: all 0.3s;
}
.rside ul li a:hover {
    background-color: #111;
}
.admin-box {
    padding: 25px;
}
.admin-box h2 {
    margin: -28px -28px 28px -28px;
    line-height: 34px;
    background: #F7F7F7;
    border: 0px;
    color: #888;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 11px;
    font-weight: 500;
    font-size: 16px;
}
.dash-box {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 3px;
    margin: 25px 0;
    width: 30%;
}
#dash-meta, #dash-pupy, #dastressi, #tolid, #rat-address, #rat-download {
    display: block;
    color: #ffffff;
    background-color: #E25A59;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    transition: all 0.3s;
}
#dash-pupy {
    background-color: #DEB948;
    margin-top: 10px;
}
#tolid {
    background-color: #8674A6;
}
#dastressi {
    background-color: #578EBE;
    margin-top: 10px;
}
#rat-download {
    background-color: #3CA39B;
}
#rat-address {
    background-color: #43B5AD;
    margin-top: 10px;
}
#rat-download:hover {
    background-color: #43B5AD;
}
#item-btn {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}