body {
    direction: rtl;
    font-family: 'iranyekan', Tahoma;
    font-size: 16px;
}
.login-page {
    background-image: url("img/login-page.jpg");
    background-size: 100%;
}
.login-box {
    background-color: #43B5AD;
    width: 380px;
    margin: 15% auto;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.login-form form {
    margin: 45px 45px 10px 45px;
}
.green-notif {
    background: rgba(0,0,0,0.1);
    min-height: 32px;
    line-height: 22px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.form-field, .form-lable {
    float: right;
    width: 50%;
}
.form-lable {
    text-align: right;
}
.login-box a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 32px;
    display: block;
}
.form-submit input[type="submit"] {
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #2b7b75;
    font-family: inherit;
    font-size: 20px;
    margin: 15px auto;
    cursor: pointer;
    transition: all 0.3s;
}
.form-submit input[type="submit"]:hover {
    background-color: rgb(105, 196, 189);
}
.error {
    background-color: #E25A59;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.form-field input[type="text"]::before {
    content: "شناسه کاربری";
}